body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section {
  display: grid;
  grid-template-columns: .5fr 1.5fr 3fr;
  grid-template-areas:
  "close metadata images"
  "close metadata caption";
  margin: 80px 80px;
}

/* three columns */

div:first-child {
  grid-area: close;
  align-items: center;
}

div:nth-child(2) {
  grid-area: metadata;
  margin-right: 30px;
}

div:nth-child(3) {
  grid-area: images;
}

div:nth-child(4) {
  grid-area: caption;
  text-align: right;
  padding-top: 10px;
}

/* close button */

#close {
  width: 40%;
}

#next {
  width: 55%;
}

#back {
  width: 55%;
  transform: scaleX(-1);
}

/* project labels */

#label {
  font-size: 1vw;
  color: #4669ef;
}

/* label project info */
#wave {
  display: inline;
  width: 10%;
}

#hey {
  font-size: 3vw;
  font-weight: 500;
}
#moi {
  width: 75%;
}

span {
  font-size: 2vw;
  color: #4669ef;
}

#details {
  font-size: 1.5vw;
}

i {
  font-style: italic;
}

a:hover {
	color: #767676;
}

#caption {
    font-size: 1vw;
}

#info {
  font-size: 2vw;
}

b {
  font-weight: 500;
}

.tooltip {
  position: relative;
  display: inline-block;
  padding-bottom: 2vw;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 20vw;
  /* background-color: black; */
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.showme{

}

@media only screen and (max-width: 600px) {
  #close {
    width: 10%;
  }

  #next {
    width: 15%;
  }

  #back {
    width: 15%;
  }

  body {
    width: 100vw;
    height: auto;
  }

  section {
    display: block;
    margin: 10px 20px;
  }

  span, #details {
  	font-size: 7vw;
  }

  p {
    font-size: 5vw;
    padding-top: 5px;
  }

  #label {
    font-size: 3vw;
  }

  #twentytwo, #twentyone, #twenty, img {
    width: 100vw;
  }

  a {
    text-decoration: underline;
  }

  li {
    display: block;
    float: none;
    height: auto;
    color: #4669ef;
  }

  ul {
    font-size: 3vw;
    /* padding-bottom: 20px; */
    padding-top: 10px;
    /* padding-right: 40px; */
    /* line-height: 3vw; */
  }

  sup {
    vertical-align: super;
    font-size: 2.5vw;
    color: white;
    padding: 0px 2px;
  }

  div {
    padding-bottom: 0px;
  }

  .hidethis {
  visibility: none;
  }

  .showme {
    visibility: visible;
    padding-top: 50px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    padding-bottom: 2vw;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 0vw;
    /* background-color: black; */
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
