body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  transition: background-color 1s ease;
}

section {
  display: grid;
  grid-template-columns: .5fr 1.5fr 3fr;
  grid-template-areas:
  "close metadata images";
  margin: 80px 80px;
}

#qr {
  width: 50%;
}

/* three columns */

div:first-child {
  grid-area: close;
  height: 100vh;
  align-items: center;
}

div:nth-child(2) {
  grid-area: metadata;
  height: 100vh;
  margin-right: 30px;
}

div:nth-child(3) {
  grid-area: images;
  justify-content: center;
}

/* close button */

#close {
  width: 40%;
}

#next {
  width: 55%;
}

#back {
  width: 55%;
  transform: scaleX(-1);
}

/* project labels */

#label {
  font-size: 1vw;
  color: #4669ef;
}

/* label project info */

span {
  font-size: 2vw;
  color: #4669ef;
}

#details {
  font-size: 1.5vw;
}

i {
  font-style: italic;
}

a:hover {
	color: #767676;
}
