body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  transition: background-color 1s ease;
}

section {
  display: grid;
  grid-template-columns: .5fr 1fr 1.5fr 2fr;
  grid-template-areas:
  "close year title details"
  ". image image image"
  ". section text text"
  ". line line line"
  ". section2 text2 text2"
  ". line2 line2 line2"
  ". section3 text3 text3";
  margin: 80px 80px;
}

#embedgrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "prototype"
  "insight"
  "hmw"
  "description"
  "feedback";
  padding: 10px;
  border: 1px solid #4669ef;
}

/* three columns */

div:first-child {
  grid-area: close;
  align-items: center;
}

div:nth-child(2) {
  grid-area: year;
  /* margin-right: 30px; */
}

div:nth-child(3) {
  grid-area: title;
}

div:nth-child(4) {
  grid-area: details;
}

div:nth-child(5) {
  grid-area: image;
  padding-top: 5vw;
  width: 95%;
}

div:nth-child(6) {
  grid-area: section;
  padding-top: 5vw;
}

div:nth-child(7) {
  grid-area: text;
  padding-top: 5vw;
  margin-right: 90px;
}

div:nth-child(8) {
  grid-area: line;
  padding-top: 5vw;
}

div:nth-child(9) {
  grid-area: section2;
  padding-top: 5vw;
}

div:nth-child(10) {
  grid-area: text2;
  padding-top: 5vw;
  margin-right: 90px;
}

div:nth-child(11) {
  grid-area: line2;
  padding-top: 5vw;
}

div:nth-child(12) {
  grid-area: section3;
  padding-top: 5vw;
}

div:nth-child(13) {
  grid-area: text3;
  padding-top: 5vw;
  margin-right: 90px;
}

div:nth-child(14) {
  grid-area: prototype;
  padding-top: 5vw;
  text-align: center;
}

div:nth-child(15) {
  grid-area: insight;
  padding-top: 5vw;
}

div:nth-child(16) {
  grid-area: hmw;
  padding-top: 5vw;
}

div:nth-child(17) {
  grid-area: description;
  padding-top: 5vw;
}

/* close button */

#close {
  width: 40%;
}

#next {
  width: 55%;
}

#back {
  width: 55%;
  transform: scaleX(-1);
}

/* project labels */

ul {
  list-style-type: circle;
  display:list-item;
  margin-left: 15px;
}

.prototypeimages {
  margin: 0 auto;
}

button {
  color: #4669ef;
  margin: 10px 0;
  border: 1px solid #4669ef;
  border-radius: 20px;
  padding: 5px;
}

#shelf {
  display: none;
  font-size: 18px;
  color: black;
  font-weight: 200;
}

#shelf2 {
  display: none;
  font-size: 18px;
  color: black;
  font-weight: 200;
}

#shelf3 {
  display: none;
  font-size: 18px;
  color: black;
  font-weight: 200;
}

#bigpoint {
  border: 1px solid #4669ef;
  display: block;
  padding: 5px 20px;
  background-color: #4669ef;
  color: white;
  font-size: 22px;
}

#body {
  font-size: 18px;
  color: black;
  font-weight: 200;
}

#label {
  font-size: 1vw;
  color: #4669ef;
}

/* label project info */
hr {
  border: .5px solid #4669ef;
}

span {
  font-size: 2vw;
  color: #4669ef;
}

#details {
  font-size: 1.5vw;
}

#caption {
    font-size: 1vw;
}

i {
  font-style: italic;
}

a:hover {
	color: #767676;
}

b {
  font-weight: 500;
}


.tooltip {
  text-decoration:none;
  position:relative;
}

.tooltip span {
  display:none;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  color:black;
  background:white;
}

.tooltip span img {
  float:left;
  margin:0px 8px 8px 0;
}
