html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  width: 200%;
  background: linear-gradient(90deg, orange, purple);
  background-size: 210% auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  color: #fff;
  font-size: 4vw;
  font-family: monospace;
}
